* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2F5363;
  background-image: radial-gradient(center, ellipse cover, #2F5363 0%, #1B2628 80%);
  /* overflow: hidden; */
}

.banner {
  background-color: #0dff00;
  height: 100vh;
  background: url('https://th.bing.com/th/id/OIG.L7TPvaz8_vxAizYtJWdf?pid=ImgGn&w=1024&h=1024&rs=1') no-repeat center center;
  background-size: cover;
  background-position: center;
}


/* maze */
h1 {
  position: absolute;
  left: 6%;
  bottom: 20%;
  animation: heartbeat 1s infinite;
  text-shadow: 3px 3px 5px #FF0000;
  /* font-family: 'Eater', cursive; */
  font-family: 'Nosifer';
  font-size: 4vw;
  color: #111111;
}

/* spiders */

[class*="spider"] {
  position: absolute;
  height: 40px;
  width: 50px;
  border-radius: 50%;
  margin: 40px 0 0 0;
  background: #110D04;
}
[class*="spider"] *, 
[class*="spider"]:before, 
[class*="spider"]:after, 
[class*="spider"]:after, 
[class*="spider"]:before {
  position: absolute;
  content: "";
}
[class*="spider"]:before {
  width: 1px;
  background: #AAAAAA;
  left: 50%;
  top: -320px;
  height: 320px;
}
[class*="spider"] .eye {
  top: 16px;
  height: 14px;
  width: 12px;
  background: #FF0000;
  border-radius: 50%;
}
[class*="spider"] .eye:after {
  top: 6px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #fff;
/*   z-index:-1; */
}
[class*="spider"] .eye.left {
  left: 13px;
}
[class*="spider"] .eye.left:after {
  right: 3px;
}
[class*="spider"] .eye.right {
  right: 13px;
}
[class*="spider"] .eye.right:after {
  left: 3px;
}

/* show legs */
[class*="spider"] .leg {
  top: 6px;
  height: 12px;
  width: 14px;
  border-top: 2px solid #110D04;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  z-index: 0;
}
[class*="spider"] .leg.left {
  left: -8px;
  transform-origin: top right;
  transform: rotate(36deg) skewX(-20deg);
  border-left: 2px solid #110D04;
  border-radius: 60% 0 0 0;
  animation: legs-wriggle-left 1s 0s infinite;
}
[class*="spider"] .leg.right {
  right: -8px;
  transform-origin: top left;
  transform: rotate(-36deg) skewX(20deg);
  border-right: 2px solid #110D04;
  border-radius: 0 60% 0 0;
  animation: legs-wriggle-right 1s 0.2s infinite;
}

[class*="spider"] .leg:nth-of-type(2) {
  top: 14px;
  left: -11px;
  animation: legs-wriggle-left 1s 0.8s infinite;
}
[class*="spider"] .leg:nth-of-type(3) {
  top: 22px;
  left: -12px;
  animation: legs-wriggle-left 1s 0.2s infinite;
}
[class*="spider"] .leg:nth-of-type(4) {
  top: 31px;
  left: -10px;
  animation: legs-wriggle-left 1s 0.4s infinite;
}
[class*="spider"] .leg:nth-of-type(6) {
  top: 14px;
  right: -11px;
  animation: legs-wriggle-right 1s 0.4s infinite;
}
[class*="spider"] .leg:nth-of-type(7) {
  top: 22px;
  right: -12px;
  animation: legs-wriggle-right 1s 0.7s infinite;
}
[class*="spider"] .leg:nth-of-type(8) {
  top: 31px;
  right: -10px;
  animation: legs-wriggle-right 1s 0.3s infinite;
} 

.spider_0 {
  left: 5%;
  margin-top: 100px;
  animation: spider-move-0 5s infinite;
}

.spider_1 {
  left: 15%;
  margin-top: 210px;
  animation: spider-move-1 5s infinite;
}

.spider_2 {
  left: 30%;
  animation: spider-move-2 5s infinite;
}

.spider_3 {
  left: 40%;
  margin-top: 160px;
  animation: spider-move-3 5s infinite;
}

.spider_4 {
  left: 65%;
  margin-top: 50px;
  animation: spider-move-4 5s infinite;
}

.spider_5 {
  right: 45%;
  margin-top: 100px;
  animation: spider-move-5 5s infinite;
}


.spider_6 {
  right: 22%;
  margin-top: 210px;
  animation: spider-move-6 5s infinite; 
}

.spider_7 {
  right: 8%; 
  margin-top: 120px; 
  animation: spider-move-7 5s infinite; 
}


/* legs moving faster */
.leg.left {
  left: -8px;
  transform-origin: top right;
  transform: rotate(36deg) skewX(-20deg);
  border-left: 2px solid #110D04;
  border-radius: 60% 0 0 0;
  animation: legs-wriggle-left 1s 0s infinite;
}

.leg.right {
  right: -8px;
  transform-origin: top left;
  transform: rotate(-36deg) skewX(20deg);
  border-right: 2px solid #110D04;
  border-radius: 0 60% 0 0;
  animation: legs-wriggle-right 1s 0.2s infinite;
}

.leg:nth-of-type(2) {
  top: 14px;
  left: -11px;
  animation: legs-wriggle-left 0.3s 0.7s infinite;
}

.leg:nth-of-type(3) {
  top: 22px;
  left: -12px;
  animation: legs-wriggle-left 0.7s 0.3s infinite;
}

.leg:nth-of-type(4) {
  top: 31px;
  left: -10px;
  animation: legs-wriggle-left 0.1s 0.4s infinite;
}

.leg:nth-of-type(6) {
  top: 14px;
  right: -11px;
  animation: legs-wriggle-right 0.2s 0.4s infinite;
}

.leg:nth-of-type(7) {
  top: 22px;
  right: -12px;
  animation: legs-wriggle-right 0.4s 0.7s infinite;
}

.leg:nth-of-type(8) {
  top: 31px;
  right: -10px;
  animation: legs-wriggle-right 0.1s 0.3s infinite;
}

.tooth {
position: absolute;
width: 5px;
height: 10px;
background-color: #fff; 
top:31px;
/* Adjust this value to set the vertical position of the teeth */
z-index: -1;
}

.tooth.left {
left: calc(50% - 7px); /* Adjusted for better positioning */
}

.tooth.right {
left: calc(50% + 2px); /* Adjusted for better positioning */
}

.mouth {
/* ... existing mouth styles ... */
position: relative;
}

/*left moving legs */
@keyframes legs-wriggle-right {
    0%, 100% {
        transform: rotate(-36deg) skewX(20deg);
    }
    50% {
        transform: rotate(-45deg) skewX(20deg);
    }
}

@keyframes legs-wriggle-left {
    0%, 100% {
        transform: rotate(36deg) skewX(-20deg);
    }
    50% {
        transform: rotate(45deg) skewX(-20deg);
    }
}


/* right moving legs */
@keyframes legs-wriggle-left {
    0%, 100% {
        transform: rotate(36deg) skewX(-20deg);
    }
    25%, 75% {
        transform: rotate(15deg) skewX(-20deg);
    }
    50% {
        transform: rotate(45deg) skewX(-20deg);
    }
}

@keyframes legs-wriggle-right {
    0%, 100% {
        transform: rotate(-36deg) skewX(20deg);
    }
    25%, 75% {
        transform: rotate(-15deg) skewX(20deg);
    }
    50% {
        transform: rotate(-45deg) skewX(20deg);
    }
}

/* spider moving up and down */
@keyframes spider-move-0 {
  0% {
    top: 10px;
  }
  50% {
    top: 60px;
  }
  100% {
    top: 10px;
  }
}

@keyframes spider-move-1 {
  0% {
    top: 20px;
  }
  30% {
    top: 70px;
  }
  100% {
    top: 20px;
  }
}

@keyframes spider-move-2 {
  0% {
    top: 0;
  }
  70% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}

@keyframes spider-move-3 {
  0% {
    top: 30px;
  }
  40% {
    top: 80px;
  }
  100% {
    top: 30px;
  }
}

@keyframes spider-move-4 {
  0% {
    top: 5px;
  }
  60% {
    top: 55px;
  }
  100% {
    top: 5px;
  }
}

@keyframes spider-move-5 {
  0% {
    top: 15px;
  }
  50% {
    top: 65px;
  }
  100% {
    top: 15px;
  }
}

@keyframes spider-move-6 {
  0% {
    top: 25px;
  }
  80% {
    top: 75px;
  }
  100% {
    top: 25px;
  }
}

@keyframes spider-move-7 {
  0% {
    top: 25px;
  }
  80% {
    top: 75px;
  }
  100% {
    top: 25px;
  }
}

/* Add a heart-beat animation for the title in the banner */
@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


/* info section */
.info-section {
  height: 125vh;
  width: 100%;
  padding: 0 0;
  background-color: #0f060A;
}

#lottie-container {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* margin-right: 20rem; */
  /* left: 0; */
  width: auto; 
  height: relative; 
  /* z-index: 1; */
}

.info-text {
  position: relative;
  width: 70%; 
  margin-top: 2rem;
  /* padding: 1rem; */
  height: auto;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
  color: #fff;
}

.info-text .smoke li {
  color: #ffffff;
  font-size: 1.5rem; /* Adjust font size for paragraph text */
  margin-bottom: 10px; /* Some space between lines */
  text-align: justify; /* Justify the text */
}

.smoky-text-title {
  /* font-family: 'Creepster', cursive; */
  font-family: 'Nosifer';
  font-size: 3em; /* Adjust size as needed */
  color: rgba(255, 0, 0, 0.9); /* Slight opacity */
  background: -webkit-linear-gradient(white, grey);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 
      3px 3px 10px rgba(0, 0, 0, 0.5), 
      -3px -3px 10px rgb(13, 13, 13), 
      3px -3px 10px rgba(0, 0, 0, 0.5), 
      -3px 3px 10px rgba(0, 0, 0, 0.5);

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
    will-change: opacity, transform;
}

/* smoke paragraph */
.smoky-text {
  text-align: center;
  margin-bottom: 30px;
}

.smoke li {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: justify;
  opacity: 0;
  filter: blur(20px);
  transition: all 2s linear;
  list-style: none;
}

.info-text:hover .smoke li {
  opacity: 1;
  filter: blur(0);
}

.smoke li:nth-child(1){
  transition-delay: 0s;
}
.smoke li:nth-child(2){
  transition-delay: .4s;
}
.smoke li:nth-child(3){
  transition-delay: .8s;
}
.smoke li:nth-child(4){
  transition-delay: 1.2s;
}


/* what to expect */
.what-expect-section {
  background-color: #0f060A;
  color: red;
  width: auto;
  height: auto;
  /* padding-top: 5rem; */
  font-size: 2rem;
  /* font-family: 'Creepster', cursive; */
  /* font-family: 'Nosifer'; */
  font-family: 'Eater';
  word-spacing: 10px;
  padding-top: 2rem;
}

/* .what-expect-section h2,  */
.expect-title {
  color: rgba(255, 0, 0, 0.9);
  font-family: 'Nosifer';
  font-size: 3rem;
  /* text-shadow: 
      3px 3px 10px rgb(255, 0, 0), 
      -3px -3px 10px rgb(96, 96, 96), 
      3px -3px 10px rgba(0, 0, 0, 0.5), 
      -3px 3px 10px rgba(0, 0, 0, 0.5); */
}

/* .what-expect-section .info-text p {
  color: #8B0000;
  font-family: 'Nosifer';
  font-size: 1.7rem;
  margin-top: 10rem;
} */

#ghost-text{
  color: #0a22dd;
}
/* .what-expect-section {
  background-color: #f5f5f5;
} */

/* .reveal-content {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
} */

.reveal-content.revealed {
  opacity: 1;
  transform: translateY(0);
}

.reveal-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s ease-in-out;
}


#ghost-container {
  height: 70%;
  width: 70%;
}

#ghost-container-1{
  z-index: 1;
  height: 60%;
  width: 60%;

}

.lottie-animation {
  width: 100%; 
  height: 150px; 
  margin-bottom: 10px;  
}

#zombie-text{
  color: #228B22;
}

#vampire-text {
  color: #8B0000;
}

/* event - details */

/* 
when hovering displaying all the cards one by one
.smoke .card {
  opacity: 0;
  filter: blur(20px);
  transition: all 2s linear;
  border: 2px solid red;
}

.smoky-container:hover .smoke .card {
  opacity: 1;
  filter: blur(0);
}

.smoke .card:nth-child(1) {
  transition-delay: 0s;
}
.smoke .card:nth-child(2) {
  transition-delay: .4s;
}
.smoke .card:nth-child(3) {
  transition-delay: .8s;
}
.smoke .card:nth-child(4) {
  transition-delay: 1.2s;
}
.smoke .card:nth-child(5) {
  transition-delay: 1.6s;
}  */

/* for each card */
/* Your existing styles... */

/* Default state of the smoke effect on each card */
.smoky-container .smoke {
  opacity: 0;
  filter: blur(20px);
  transition: all 2s linear;
}

/* Hover effect on the individual card to reveal its content */
.smoky-container:hover .smoke {
  opacity: 1;
  filter: blur(0);
  font-family: 'Nosifer';
  font-size: 1.5rem;
  color: #8B0000;
}

.card {
    border: none;
    background-color: transparent;
    transition: all 2s linear;
}
.card > div > p {
  font-family: 'Eater';
  /* font-weight: bold; */
}

/* space between the cards */
.card:not(:last-child) {
    /* padding: 5px; */
}

.event-details {
   position: relative;
   z-index: 1;
   background-color: #110D04;
   max-width: 100%;
}

.ghost {
  animation: ghostAppearing 10s infinite alternate;
  background: url('../images/ghost-bg.png') no-repeat center;
  /* background: url('https://th.bing.com/th/id/OIG.sHUL7nkQYvRnLGs2xQhD?w=270&h=270&c=6&r=0&o=5&dpr=1.4&pid=ImgGn') no-repeat center; */
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 200px;
  height: 200px;
  z-index: -1;
}

@keyframes ghostAppearing {
  0% {
      opacity: 0.1;
      transform: translateY(20px);
  }
  100% {
      opacity: 0.5;
      transform: translateY(-20px);
  }
}