@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

h1, h2, h3 {
    font-family: 'Delicious Handrawn', cursive;
}

p {
    font-family: 'Quicksand', sans-serif;
}

body, a, footer, i {
    cursor: url('../images/monster-hand-pointing.png'), auto;	
}

nav {
    background-color: black !important;
    font-family: 'Delicious Handrawn', cursive !important;
}

nav a {
    color: #FF6600 !important;
    font-size: 20px !important;
}

nav a:hover {
    color: #228B22 !important;
}

.active {
    color: #228B22 !important;
}

.events-header {
    font-family: 'Butcherman';
}

.events-link {
    color: #FF6600;
    transition: transform 0.3s;
}

.events-link:hover {
    text-decoration: none;
    color:#228B22;
    transform: scale(0.9);
}

.events {
    background-color: black;
}

.events-banner {
    background-image: url(../images/eventsbanner.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.events-link img {
    border-radius: 10%;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.events-link img:hover {
    transform: scale(0.9);
}

.house {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero {
    position: relative;
    height: 750px;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/scull3.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    font-size: 500%;
    /* Adjust the font size as needed */
}

.info {
    color: #f5f5f5;
    background-color: #000000;
    padding: 50px 50px;
    text-align: justify;
}

h5 {
    color: #FF6600;
}

footer {
    height: 20px;
    bottom: 0;
    position: relative;
    color: #f5f5f5;
    background-color: #000000;
}

.social-networks {
    text-align: center;
    background-color: #000000;
    color: #f5f5f5;
}

.social-networks > li {
    display: inline;
    padding: 0 5%;
}

.social-networks i {
    bottom: 1%;
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #f5f5f5;
    cursor: url('./assets/images/monster-hand-pointing.png'), auto;	
}

/* Contact Page */

.hide {
    display: none;
}

.contactme-container {
    background: url(../images/contactbackground.jpeg) no-repeat fixed center/cover;
    width: 100%;
    height: 95vh;
}

.contactme {
  background-color: rgba(0, 0, 0, 0.7);
  width: 40%;
  margin-top: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 75px 90px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-family: 'Quicksand', sans-serif;
}

.contact-btn {
    font-family: 'Delicious Handrawn', cursive !important;
    font-size: 20px !important;
    background-color: #FF6600 !important;
}

.contact-btn:hover {
    background-color: #8B0000 !important;
}

#get-in-touch {
    color: #FF6600 !important;    
}

#email-fail, #email-success {
   color: #FF6600 !important;
}

/* 404 Page */

.fourohfour-container {
    background: url(../images/404background.jpeg) no-repeat fixed center/cover;
    width: 100%;
    height: 100vh;
    color: white;
}

.fourohfour {
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  margin-top: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 75px 90px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fourohfour-icon {
    color: #FF6600;
    font-size: 50px;
}

.fourohfour-icon:hover {
    color: #8B0000
}

/* Media query for contact page  */

@media screen and (max-width: 1050px) {
  .contactme {
    width: 75%;
    padding: 50px;
  }
}

/* Media query for logo in nav bar  */

@media screen and (max-width: 485px) {
  .logo {
    width: 275px !important;
    height: 30px
  }
}

